<!-- Nav bar -->
<nav class="secondaryNavBar">

    <div class="nav-wrapper">

        <div class="row">
            <div class="col s12">
                <a href="/" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" id="logOutBtn">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar -->

<!-- Settings page -->
<section class="SecondarySection">

    <div class="parallax-container" id="secondaryParallax">
        <div class="parallax">
            <img src="../public/assets/images/background_app.jpg">
        </div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header" id="companyName"></h2>
            <div class="row">
                <div class="col s12">
                    <div class="card black darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Account Settings</span>
                            <p id="bio">BIO: </p>
                            <p id="email">EMAIL: </p>
                            <p id="password">PASSWORD: </p>
                            <p id="max_price">MAX PRICE: </p>
                        </div>
                        <div class="card-action">
                            <button data-target="modal1" class="modal-trigger" href="#modal1" id="loginBtn"> Update
                                Settings
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Update settings modal-->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Update Settings</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="company_name_update" type="text" class="validate">
                                    <label for="company_name_update">Company Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="bio_update" type="text" class="validate">
                                    <label for="bio_update">Bio</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email_update" type="email" class="validate">
                                    <label for="email_update">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password_update" type="password" class="validate">
                                    <label for="password_update">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="max_price_update" type="number" class="validate">
                                    <label for="max_price_update">Max Price</label>
                                </div>
                            </div>
                            <div class="row">
                                <a data-target="modal2" class="modal-trigger waves-effect waves-light btn-large red"
                                    href="#modal1"><i class="material-icons left">delete</i>delete account</a>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="update_save">Save</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Enter Your Email</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="delete_email" type="email" class="validate">
                            <label for="delete_email" id="delete_email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <a class=" waves-effect waves-light btn-large red deleteBusiness"><i class="material-icons left"
                                id="deleteBusiness">delete</i>delete account</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">cancel</a>
                </div>
            </div>

        </div>

    </div>


</section>
<!-- Main Page -->

{{!-- javascript --}}

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.modal').modal();
        getCompanySettings();

        function getCompanySettings() {
            $.get("/api/company/2", function (data) {
                $("#companyName").append(data[0].company_name);
                $("#bio").append(data[0].bio);
                $("#email").append(data[0].email);
                $("#password").append(data[0].password);
                $("#max_price").append(data[0].max_price);
            });
        };

        $(".deleteBusiness").on("click", function () {
            var email = $("#delete_email").val();

            // Send the DELETE request.
            $.ajax({
                method: "DELETE",
                url: `/api/company/${email}`,
            }).then(location.reload());

        });

        $("#update_save").on("click", function () {
            
            let newSettings = {
                company_name: $("#company_name_update").val().trim(),
                bio: $("#bio_update").val().trim(),
                email: $("#email_update").val().trim(),
                password: $("#password_update").val().trim(),
                max_price: $("#max_price_update").val().trim(),
            };
            $.ajax({
                method: "PUT",
                url: "/api/company",
                data: newSettings
            }).then();
        })


    });

</script>