<!-- Nav bar -->
<nav>
    <div class="nav-wrapper" id="logoAni">
        <div class="row">
            <div class="col s12">
                <a href="../views/index.html" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
                <a href="../views/index.html" target="_blank" class="brand-logo-glyph"><i
                        class="large material-icons">bug_report</i><span class="hide-on-small-only">&nbsp;</span></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Account Settings</a></li>
                    <li>|</li>
                    <li><a href="#" id="logOutBtn">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar -->

<!-- Main page -->
<section class="userProfile">

    <div class="parallax-container">
        <div class="parallax">
            <img src="../public/assets/images/background_app.jpg">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Business Name</h2>
            <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                the user.
            </p>

            <div class="row">

                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="../public/assets/images/background_app.jpg">
                            <span class="card-title" id="influencer-name">Influencer Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!" id="message-button">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p id="about-influecer">This will show more info about the influencer for the user.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="../public/assets/images/background_app.jpg">
                            <span class="card-title">Influencer Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p>This will show more info about the influencer for the user.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="../public/assets/images/background_app.jpg">
                            <span class="card-title">Influencer Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p>This will show more info about the influencer for the user.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="../public/assets/images/background_app.jpg">
                            <span class="card-title">Influencer Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p>This will show more info about the influencer for the user.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="../public/assets/images/background_app.jpg">
                            <span class="card-title">Influencer Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p>This will show more info about the influencer for the user.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="../public/assets/images/background_app.jpg">
                            <span class="card-title">Influencer Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p>This will show more info about the influencer for the user.
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</section>
<!-- Main Page -->

{{!-- javascript --}}

<script>

    $(document).ready(function () {

        $(window).scroll(function () {
            if ($(this).scrollTop() >= 30) {
                $('#logoAni').addClass('scrolled');
            } else {
                $('#logoAni').removeClass('scrolled');
            }
        });
        
        $('.tooltipped').tooltip();
    });

</script>