<!-- Nav bar -->
<nav class="secondaryNavBar">
    <div class="nav-wrapper" id="logoAni">
        <div class="row">
            <div class="col s12">
                <a href="../views/index.html" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/views/layouts/businessSettings.handlebars">Account Settings</a></li>
                    <li>|</li>
                    <li><a href="#" id="logOutBtn">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar -->

<!-- Main page -->
<section class="SecondarySection">

    <div class="parallax-container" id="secondaryParallax">
        <div class="parallax">
            <img src="/assets/images/background_app.jpg">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Business Name</h2>
            <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                the user.
            </p>

            <div class="row">
                {{#each influencer}}
                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="activator" src="/assets/images/background_app.jpg">
                            <span class="card-title" id="influencer-name">{{this.first_name}} {{this.last_name}}</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                data-position="top" data-tooltip="Message Me!" id="chatButton">
                                <i class="material-icons">message</i></a>
                        </div>
                        <div class="card-content">
                            <p><a href="#">View profile link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">About Me<i
                                    class="material-icons right">close</i></span>
                            <p id="about-influecer">
                                {{this.bio}}
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>

</section>
<!-- Main Page -->

{{!-- javascript --}}

<script>

    $(document).ready(function () {

        $(window).scroll(function () {
            // I just set this to trigger after 30px of scroll, use whatever you like.
            if ($(this).scrollTop() >= 30) {
                $('#logoAni').addClass('scrolled');
            } else {
                $('#logoAni').removeClass('scrolled');
            }
        });


        $('.tooltipped').tooltip();

        $("#chatButton").on('click', function () {
            window.location = "https://quiet-reef-88593.herokuapp.com";
        });
    });

</script>