<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Our Styling Sheet -->
    <!-- <link rel="stylesheet" href="../public/assets/"> -->
    <!-- Jquery Link -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Influence Ya</title>

    <style>
        /* Nav Bar Styling BEGIN */
        nav #logoAni {
            z-index: 3;
            background: #1a181f;
            position: fixed;
            height: 65px;
            width: 100%;
            top: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        .row .col {
            float: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 .75rem;
            min-height: 1px;
        }


        /* #logo {
            position: fixed;
            overflow: hidden;
            margin: 1em;
            font-size: 2em;
        } */

        .brand-logo,
        .brand-logo-glyph {
            transition: all .5s ease;
            display: inline-block;
            will-change: opacity, transform;
        }

        /* .brand-logo {
            font-weight: 300;
            letter-spacing: 0.3em;
        } */

        .brand-logo-glyph {
            font-weight: bold;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 10px;
            transform: translateX(4em);
        }

        /* On scroll */
        #logoAni.scrolled .brand-logo {
            opacity: 0;
            transform: translateX(-2em);
        }

        #logoAni.scrolled .brand-logo-glyph {
            opacity: 1;
            transform: translateX(0);
        }


        /* nav Bar Styling END */

        /* Section Style BEGIN */

        .userProfile {
            background: #202124;
            height: 100%;
            padding: 5em 0;
        }

        .parallax-container {
            height: 200px;
        }

        /* Section Style END */
    </style>


</head>

<body >
    <!-- Nav bar -->
    <nav>
        <div class="nav-wrapper" id="logoAni">
            <div class="row">
                <div class="col s12">
                    <a href="../views/index.html" target="_blank" class="brand-logo">Influence<span
                            class="hide-on-small-only">&nbsp;Ya</span></a>
                    <a href="../views/index.html" target="_blank" class="brand-logo-glyph"><i
                            class="large material-icons">bug_report</i><span
                            class="hide-on-small-only">&nbsp;</span></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Account Settings</a></li>
                        <li>|</li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Nav bar -->

    <!-- Main page -->
    <section class="userProfile">

        <div class="parallax-container">
            <div class="parallax">
                <img src="../public/assets/images/background_app.jpg">
            </div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Business Name</h2>
                <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                    the user.
                </p>

                <div class="row">

                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="activator" src="../public/assets/images/background_app.jpg">
                                <span class="card-title">Influencer Name</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                    data-position="top" data-tooltip="Message Me!">
                                    <i class="material-icons">message</i></a>
                            </div>
                            <div class="card-content">
                                <p><a href="#">View profile link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>This will show more info about the influencer for the user.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="activator" src="../public/assets/images/background_app.jpg">
                                <span class="card-title">Influencer Name</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                    data-position="top" data-tooltip="Message Me!">
                                    <i class="material-icons">message</i></a>
                            </div>
                            <div class="card-content">
                                <p><a href="#">View profile link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>This will show more info about the influencer for the user.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="activator" src="../public/assets/images/background_app.jpg">
                                <span class="card-title">Influencer Name</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                    data-position="top" data-tooltip="Message Me!">
                                    <i class="material-icons">message</i></a>
                            </div>
                            <div class="card-content">
                                <p><a href="#">View profile link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>This will show more info about the influencer for the user.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="activator" src="../public/assets/images/background_app.jpg">
                                <span class="card-title">Influencer Name</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                    data-position="top" data-tooltip="Message Me!">
                                    <i class="material-icons">message</i></a>
                            </div>
                            <div class="card-content">
                                <p><a href="#">View profile link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>This will show more info about the influencer for the user.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="activator" src="../public/assets/images/background_app.jpg">
                                <span class="card-title">Influencer Name</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                    data-position="top" data-tooltip="Message Me!">
                                    <i class="material-icons">message</i></a>
                            </div>
                            <div class="card-content">
                                <p><a href="#">View profile link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>This will show more info about the influencer for the user.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="activator" src="../public/assets/images/background_app.jpg">
                                <span class="card-title">Influencer Name</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light tooltipped blue"
                                    data-position="top" data-tooltip="Message Me!">
                                    <i class="material-icons">message</i></a>
                            </div>
                            <div class="card-content">
                                <p><a href="#">View profile link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>This will show more info about the influencer for the user.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </section>
    <!-- Main Page -->

</body>
<script>

    $(document).ready(function () {

        $(window).scroll(function () {
            // I just set this to trigger after 30px of scroll, use whatever you like.
            if ($(this).scrollTop() >= 30) {
                $('#logoAni').addClass('scrolled');
            } else {
                $('#logoAni').removeClass('scrolled');
            }
        });


        $('.tooltipped').tooltip();
    });

</script>

</html>