<nav class="transparent z-depth-0">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="../views/index.html" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
                <ul class="right hide-on-med-and-down">

                    <li><a data-target="modal1" class="modal-trigger" href="#modal1">Login</a></li>
                    <li>|</li>
                    <li><a data-target="modal2" class="modal-trigger" href="#modal1">Sign Up</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<header class="white-text">
    <div class="container">
        <h2>Welcome to</h2>
        <h1>INFLUENCE YA</h1>
    </div>
</header>

<div id='nav-bg'></div>

<section id='about'>

    <div class="flow-text">

        <div class="parallax-container">
            <div class="parallax"><img src="assets/images/background_app.jpg"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Parallax</h2>
                <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                    the user.
                </p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="/assets/images/undraw_social_influencer_sgsv.png"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Parallax</h2>
                <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                    the user.
                </p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="/assets/images/undraw_social_influencer_sgsv.png"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Parallax</h2>
                <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                    the user.
                </p>
                <button data-target="modal1" class="modal-trigger" href="#modal1" id="loginBtn"> Login
                </button>
                <button data-target="modal2" class="modal-trigger" href="#modal1" id="signUpBtn"> Sign Up
                </button>
            </div>
        </div>

    </div>

</section>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Lets Login</h4>
        <div class="row">
            <div class="col s6" id="modalBody">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Business Login</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="busEmail" type="email" class="validate">
                                <label for="busEmail">Email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="busPassword" type="password" class="validate">
                                <label for="busPassword">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#" class="waves-effect waves-light btn blue" id="busLogin">Login</a>
                    </div>
                </div>
            </div>

            <div class="col s6" id="modalBody">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Influencer Login</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="infEmail" type="email" class="validate">
                                <label for="infEmail">Email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="infPassword" type="password" class="validate">
                                <label for="infPassword">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/api/influencer" class="waves-effect waves-light btn blue">Login</a>
                    </div>
                </div>
            </div>




        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="container">

            <div class="row">
                <h4>Who Are You?</h4>
            </div>

            <div class="row">

                <div class="col s6" id="modalBody">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">I am a Busisness...</span>
                            <p>I am searching for Influencers to help get my business out there.</p>
                        </div>
                        <div class="card-action">
                            <a href="/businessSignUp" class="waves-effect waves-light btn blue"
                                id="createBusiButton">Create
                                Account</a>
                        </div>
                    </div>
                </div>

                <div class="col s6" id="modalBody">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">I am an Influencer...</span>
                            <p>I want to help businesses and do other things.</p>
                        </div>
                        <div class="card-action">
                            <a href="/influencerSignUp" class="waves-effect waves-light btn blue"
                                id="createInfluButton">Create Account</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

{{!-- javascript --}}

<script>

    $(document).ready(function () {

        $('.modal').modal();

        $('.parallax').parallax();


        $("#loginSubmitBtn").on("click", function () {
            var emailVerif = $("#email").val().trim();
            var passVerif = $("#password").val().trim();

            var verification = {
                email: emailVerif,
                password: passVerif
            }

            $.ajax("/api/company/login", {
                type: "POST",
                data: verification
            }).then(
                function () {
                    console.log("Logged IN!");
                }
            )
        });

        $("#busLogin").on("click", function(){
            console.log("click");

            let busVerification = {
                email: $("#busEmail").val(),
                password: $("#busPassword").val()
            };
            console.log(busVerification);

            $.post("/api/company/login", busVerification);
            
        })


    });

</script>