<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Compiled and minified CSS Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Our Styling Sheet -->
    <!-- <link rel="stylesheet" href="../public/assets/"> -->
    <!-- Jquery Link -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Influence Ya</title>

    <style>
        /* Nav Bar Styling BEGIN */
        nav {
            z-index: 3;
            background: #1a181f;
            position: fixed;
            height: 65px;
            width: 100%;
            top: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }

        .row .col {
            float: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 .75rem;
            min-height: 1px;
        }

        /* nav Bar Styling END */

        /* Section Style BEGIN */

        .influencerProfile {
            background: #202124;
            height: 100%;
            padding: 5em 0;
        }

        .parallax-container {
            height: 200px;
        }

        .circle {
            height: 65px;
            width: 65px;
            margin-right: 10px;
        }

        #messageBtn {
            float: right;
        }


        /* Section Style END */
    </style>

</head>

<body>

    <!-- Nav bar -->
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="../views/index.html" target="_blank" class="brand-logo">Influence<span
                            class="hide-on-small-only">&nbsp;Ya</span></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Notifications</a></li>
                        <li>|</li>
                        <li><a href="#">Account Settings</a></li>
                        <li>|</li>
                        <li><a href="#">Log Out</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Nav bar -->

    <!-- Main page -->
    <section class="influencerProfile">

        <div class="parallax-container">
            <div class="parallax">
                <img src="../public/assets/images/background_app.jpg">
            </div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Influencer Name</h2>
                <p class="grey-text text-darken-3 lighten-3">This will show some content explaining the app to
                    the user.
                </p>

                <div class="row">


                    <ul class="collapsible popout">

                        <li>
                            <div class="collapsible-header hoverable"><img
                                    src="http://www.learnspanishtoday.com/img/businessman.jpg" alt="" class="circle">
                                <h5>Business Name</h5>
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <h5>About Us</h5>
                                    <p>This will be the info about the business</p>
                                    <p><a class="btn-floating btn-large waves-effect waves-light blue"
                                            id="messageBtn"><i class="material-icons">message</i></a></p>
                                    <p><br></p>
                                </span>
                            </div>
                        </li>

                        <br id="listSeparater">

                        <li>
                            <div class="collapsible-header hoverable"><img
                                    src="http://www.learnspanishtoday.com/img/businessman.jpg" alt="" class="circle">
                                <h5>Business Name</h5>
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <h5>About Us</h5>
                                    <p>This will be the info about the business</p>
                                    <p><a class="btn-floating btn-large waves-effect waves-light blue"
                                            id="messageBtn"><i class="material-icons">message</i></a></p>
                                    <p><br></p>
                                </span>
                            </div>
                        </li>
                        
                        <br id="listSeparater">

                        <li>
                            <div class="collapsible-header hoverable"><img
                                    src="http://www.learnspanishtoday.com/img/businessman.jpg" alt="" class="circle">
                                <h5>Business Name</h5>
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <h5>About Us</h5>
                                    <p>This will be the info about the business</p>
                                    <p><a class="btn-floating btn-large waves-effect waves-light blue"
                                            id="messageBtn"><i class="material-icons">message</i></a></p>
                                    <p><br></p>
                                </span>
                            </div>
                        </li>
                        
                        <br id="listSeparater">

                        <li>
                            <div class="collapsible-header hoverable"><img
                                    src="http://www.learnspanishtoday.com/img/businessman.jpg" alt="" class="circle">
                                <h5>Business Name</h5>
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <h5>About Us</h5>
                                    <p>This will be the info about the business</p>
                                    <p><a class="btn-floating btn-large waves-effect waves-light blue"
                                            id="messageBtn"><i class="material-icons">message</i></a></p>
                                    <p><br></p>
                                </span>
                            </div>
                        </li>

                        <br id="listSeparater">

                        <li>
                            <div class="collapsible-header hoverable"><img
                                    src="http://www.learnspanishtoday.com/img/businessman.jpg" alt="" class="circle">
                                <h5>Business Name</h5>
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <h5>About Us</h5>
                                    <p>This will be the info about the business</p>
                                    <p><a class="btn-floating btn-large waves-effect waves-light blue"
                                            id="messageBtn"><i class="material-icons">message</i></a></p>
                                    <p><br></p>
                                </span>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

    </section>
    <!-- Main Page -->

</body>

<script>

    $(document).ready(function () {
        $('.collapsible').collapsible();
    });

</script>

</html>