<!-- Nav bar -->
<nav class="secondaryNavBar">
    <div class="nav-wrapper" id="logoAni">
        <div class="row">
            <div class="col s12">
                <a href="/" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar -->

<!-- Main Page -->

<section class="SecondarySection">

    <div class="parallax-container" id="secondaryParallax">
        <div class="parallax">
            <img src="../public/assets/images/background_app.jpg">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="BusinessCreateHeader">Congratulations, your account has been created</h2>
            <br>
            <div class="col s4"></div>
            <div class="col s4" id="congratsImg">
                <img src="/assets/images/undraw_celebration_0jvk.png" alt="" id="image">
            </div>
            <div class="col s4"></div>


            <div class="container">
                <div class="row">
                    <div class="col s12" id="homePageLinkDiv">
                        <a href="/" id="homePageLink">Go back to the Home Page to sign in</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>