<!-- Nav bar -->
<nav class="secondaryNavBar">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="/" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar -->

<!-- Main Page -->

<section class="SecondarySection">

    <div class="parallax-container" id="secondaryParallax">
        <div class="parallax">
            <img src="../public/assets/images/background_app.jpg">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Create Your Account</h2>
            <br>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="influencer_first_name" type="text" class="validate">
                        <label for="influencer_first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="influencer_last_name" type="text" class="validate">
                        <label for="influencer_last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="influencer_email" type="email" class="validate">
                        <label for="influencer_email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="influencer_password" type="password" class="validate">
                        <label for="influencer_password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="influencer_bio" class="materialize-textarea"></textarea>
                        <label for="influencer_bio">Tell us about yourself</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">people</i>
                        <input id="influencer_input_followers" type="text">
                        <label for="influencer_input_followers">About how many followers do you have?</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <div class="slidecontainer">
                            <i class="material-icons prefix">monetization_on</i>
                            <input type="range" min="1" max="100" value="50" class="slider influencer_priceRange"
                                id="myRange">
                            <label id="influencer_priceRange" for="myRange">
                                <p>Price: $<span id="demo"></span></p>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s4" id="buttonLocation">
                        <a class="waves-effect waves-light btn-large blue" id="influencerSubmitBtn" href="/newUser">
                            <i class="material-icons right">done</i>Submit
                        </a>
                    </div>
                    <div class="col s4"></div>
                </div>

            </form>
        </div>
    </div>
    </div>

</section>

<!-- Main Page -->

{{!-- javascript --}}

<script>
    $(document).ready(function () {

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }

        // $('input#input_text').characterCounter();

    });

    $("#influencerSubmitBtn").on("click", function (event) {
        console.log("click");

        let newUser = {
            first_name: $("#influencer_first_name").val(),
            last_name: $("#influencer_last_name").val(),
            email: $("#influencer_email").val(),
            password: $("#influencer_password").val(),
            bio: $("influencer_bio").val(),
            followers: Number($("#influencer_input_followers").val()),
            price: Number($(".influencer_priceRange").val()),

        }

        $.post("/api/influencer", newUser, function (data) {
            location.reload();
        });
    });
</script>