<!-- Nav bar -->
<nav class="secondaryNavBar">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="/" target="_blank" class="brand-logo">Influence<span
                        class="hide-on-small-only">&nbsp;Ya</span></a>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar -->

<!-- Main Page -->

<section class="SecondarySection">

    <div class="parallax-container" id="secondaryParallax">
        <div class="parallax">
            <img src="../public/assets/images/background_app.jpg">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Create Your Account</h2>
            <br>
            <form class="col s12">

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business</i>
                        <input id="business_name" type="text" class="validate">
                        <label for="business_name" id="business-name">Business Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="business_email" type="email" class="validate">
                        <label for="business_email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="business_password" type="password" class="validate">
                        <label for="business_password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="business_bio" class="materialize-textarea"></textarea>
                        <label for="business_bio">Tell us about your business</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">monetization_on</i>
                        <input id="business_max_price" type="text">
                        <label for="business_max_price">Max Price</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s4" id="buttonLocation">
                        <a class="waves-effect waves-light btn-large blue" id="business-SubmitBtn" href="#/newUser">
                            <i class="material-icons right">done</i>Submit
                        </a>
                    </div>
                    <div class="col s4"></div>
                </div>

            </form>
        </div>
    </div>
    </div>


</section>

<!-- Main Page -->

{{!-- javascript --}}

<script>
    $(document).ready(function () {
        $("#business-SubmitBtn").on("click", function () {
            let newCompany = {
                company_name: $("#business_name").val().trim(),
                email: $("#business_email").val().trim(),
                password: $("#business_password").val().trim(),
                bio: $("#business_bio").val().trim(),
                max_price: $("#business_max_price").val().trim(),
            }

            $.post("/api/company", newCompany, {
            })
        })

    });

</script>