        /* Header style BEGIN */
        nav {
            z-index: 3;
        }

        header {
            z-index: 2;
        }

        #nav-bg {
            z-index: 1;
        }

        body {
            background: #eee;
        }

        nav {
            position: fixed;
            top: 0;
        }

        header {
            position: relative;
            background-color: black;
            padding: 1em;
            height: 100vh;
        }

        header:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("/assets/images/background_app.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 65% 50%;
            opacity: 0.4;
        }

        #nav-bg {
            background: black;
            position: fixed;
            height: 65px;
            width: 100%;
            top: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }

        header h2 {
            font-size: 2em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 800;
            padding-top: 30vh;
        }

        header h1 {
            font-size: 4em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 800;
            /* padding-top: 30vh; */
        }


        .influencerPageNav{
            background: #202124;
            position: fixed;
            height: 65px;
            width: 100%;
            top: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        

        }

        /* Header style END */

        /* About style BEGIN */
        #about {
            background: #202124;
            height: 100%;
            padding: 5em 0;
        }

        * {
            box-sizing: border-box;
        }

        .box {
            border-radius: 15px;
            float: left;
            width: 100%;
            padding: 50px;
            height: 500px;
            margin-bottom: 20px;
            background-image: url("/assets/images/mountain_test.jpg");
        }

        .box2 {
            float: left;
            width: 100%;
            padding: 50px;
            height: 500px;
            margin-bottom: 20px;
            background-image: url("/assets/images/mountain_test.jpg");
        }

        .box3 {
            float: left;
            width: 100%;
            padding: 50px;
            height: 500px;
            margin-bottom: 20px;
            background-image: url("/assets/images/mountain_test.jpg");
        }

        .box4 {
            float: left;
            width: 100%;
            padding: 50px;
            height: 150px;
            text-align: center;
        }

        #loginBtn {
            padding: 15px;
            margin-right: 20px;
            border-radius: 20px;
        }

        #signUpBtn {
            padding: 15px;
            margin-left: 20px;
            border-radius: 20px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
            text-align: center;
        }

        /* About style END */

        /* Modal Style BEGIN */

        #modal2 {
            text-align: center;

        }

        .verticalLine {
            border: 1px solid #202124;
            height: 75px;
            width: 1px;
        }

        #vLine {
            margin-left: 10px;
            text-align: center;
        }

        /* Modal Stle END */